In [1]:
import pandas as pd
import datetime
#from datetime import time
import time
import psutil
#from models import CPUStats
#from pynput import mouse
#import pyautogui
from pynput import mouse

In [29]:
# import sys
# print(sys.prefix)

C:\Users\yozblg\anaconda3

In [ ]:
import pyautogui
# windows = pyautogui.getAllWindows()
print(pyautogui.getActiveWindowTitle())

# for window in windows:
#     print(window.title)

lab (3) - JupyterLab - Personal - Microsoft​ Edge

In [1]:
#works curr coordinates delta adn window title not working button
from pynput import mouse

# The event listener will be running in this block
did_click= []
with mouse.Events() as events:
    for event in events:
        try:       
            if event.pressed:
                #delta_x = abs(prev_x - event.x)
                #delta_y = abs(prev_y - event.y)
                #print(datetime.datetime.now(),'prev',prev_x, prev_y,'cur', event.x, event.y, 'delt', delta_x, delta_y)
                did_click = [event.x, event.y, abs(event.x-prev_x), abs(event.y-prev_y), \
                             datetime.datetime.now(),pyautogui.getActiveWindowTitle()]
                prev_x = event.x
                prev_y = event.y
                #print(pyautogui.getActiveWindowTitle())
                print(did_click)

        except:
            continue

KeyboardInterrupt:

In [ ]:
#
from pynput import mouse
import pyautogui
import datetime
import pandas as pd

# The event listener will be running in this block
prev_x = 0
prev_y = 0
#new_click=[]
clicks= pd.DataFrame()#(columns=['x','y','deltaX', 'deltaY', 'clientTimeStamp', 'button', 'target'])
with mouse.Events() as events:
    for event in events:
        try:       
            if event.pressed:
                new_click = pd.Series([event.x, event.y, \
                             abs(event.x-prev_x), abs(event.y-prev_y), \
                             datetime.datetime.now(), event.button.value[0], \
                             pyautogui.getActiveWindowTitle()])
                prev_x = event.x
                prev_y = event.y
                #clicks.append(new_click,inplace=True)
                clicks = pd.concat([clicks, pd.DataFrame(new_click).T],axis='rows',ignore_index=True)
                display(clicks)
        except:
            continue

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
5,353,21,651,353,2023-09-12 22:50:00.127892,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
5,353,21,651,353,2023-09-12 22:50:00.127892,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
6,140,4,213,17,2023-09-12 22:50:01.592983,4,JupyterLab (auto-l) and 5 more pages - Persona...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
5,353,21,651,353,2023-09-12 22:50:00.127892,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
6,140,4,213,17,2023-09-12 22:50:01.592983,4,JupyterLab (auto-l) and 5 more pages - Persona...
7,760,172,620,168,2023-09-12 22:50:14.289347,4,lab (3) - JupyterLab and 5 more pages - Person...
8,770,189,10,17,2023-09-12 22:50:16.395246,4,lab (3) - JupyterLab and 5 more pages - Person...
9,770,189,0,0,2023-09-12 22:50:17.609112,4,lab (3) - JupyterLab and 5 more pages - Person...
10,770,189,0,0,2023-09-12 22:50:18.141348,4,lab (3) - JupyterLab and 5 more pages - Person...
11,770,189,0,0,2023-09-12 22:50:18.356963,4,lab (3) - JupyterLab and 5 more pages - Person...
12,277,108,493,81,2023-09-12 22:50:19.636173,4,lab (3) - JupyterLab and 5 more pages - Person...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
5,353,21,651,353,2023-09-12 22:50:00.127892,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
6,140,4,213,17,2023-09-12 22:50:01.592983,4,JupyterLab (auto-l) and 5 more pages - Persona...
7,760,172,620,168,2023-09-12 22:50:14.289347,4,lab (3) - JupyterLab and 5 more pages - Person...
8,770,189,10,17,2023-09-12 22:50:16.395246,4,lab (3) - JupyterLab and 5 more pages - Person...
9,770,189,0,0,2023-09-12 22:50:17.609112,4,lab (3) - JupyterLab and 5 more pages - Person...
10,770,189,0,0,2023-09-12 22:50:18.141348,4,lab (3) - JupyterLab and 5 more pages - Person...
11,770,189,0,0,2023-09-12 22:50:18.356963,4,lab (3) - JupyterLab and 5 more pages - Person...
12,277,108,493,81,2023-09-12 22:50:19.636173,4,lab (3) - JupyterLab and 5 more pages - Person...
13,300,178,23,70,2023-09-12 22:50:20.785656,4,lab (3) - JupyterLab and 5 more pages - Person...

,0,1,2,3,4,5,6
0,893,689,893,689,2023-09-12 22:49:48.121036,4,lab (3) - JupyterLab and 5 more pages - Person...
1,885,879,8,190,2023-09-12 22:49:51.721164,4,lab (3) - JupyterLab and 5 more pages - Person...
2,1114,8,229,871,2023-09-12 22:49:55.535896,4,lab (3) - JupyterLab and 5 more pages - Person...
3,813,9,301,1,2023-09-12 22:49:57.346293,4,How to Upload Project on GitHub from Jupyter N...
4,1004,374,191,365,2023-09-12 22:49:58.589664,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
5,353,21,651,353,2023-09-12 22:50:00.127892,4,jupyter to github — Яндекс: нашлось 14 тыс. ре...
6,140,4,213,17,2023-09-12 22:50:01.592983,4,JupyterLab (auto-l) and 5 more pages - Persona...
7,760,172,620,168,2023-09-12 22:50:14.289347,4,lab (3) - JupyterLab and 5 more pages - Person...
8,770,189,10,17,2023-09-12 22:50:16.395246,4,lab (3) - JupyterLab and 5 more pages - Person...
9,770,189,0,0,2023-09-12 22:50:17.609112,4,lab (3) - JupyterLab and 5 more pages - Person...
10,770,189,0,0,2023-09-12 22:50:18.141348,4,lab (3) - JupyterLab and 5 more pages - Person...
11,770,189,0,0,2023-09-12 22:50:18.356963,4,lab (3) - JupyterLab and 5 more pages - Person...
12,277,108,493,81,2023-09-12 22:50:19.636173,4,lab (3) - JupyterLab and 5 more pages - Person...
13,300,178,23,70,2023-09-12 22:50:20.785656,4,lab (3) - JupyterLab and 5 more pages - Person...
14,983,589,683,411,2023-09-12 22:50:22.618275,4,lab (3) - JupyterLab and 5 more pages - Person...

In [22]:
clicks = pd.concat([clicks, new_click], ignore_index=True)

In [40]:
pd.DataFrame(new_click).T

,0,1,2,3,4,5,6
0,765,177,479,325,2023-09-11 04:29:34.114546,4,lab (3) - JupyterLab and 1 more page - Persona...

In [41]:
clicks

Empty DataFrame
Columns: []
Index: []

In [42]:
pd.concat([clicks, pd.DataFrame(new_click).T],axis='rows',ignore_index=True)

,0,1,2,3,4,5,6
0,765,177,479,325,2023-09-11 04:29:34.114546,4,lab (3) - JupyterLab and 1 more page - Persona...

In [13]:
pd.append([clicks,new_click.T],axis=0)

AttributeError: module 'pandas' has no attribute 'append'

In [5]:
from pynput import mouse

def on_move(x, y):
    print('Pointer moved to {0}'.format(
        (x, y)))

def on_click(x, y, button, pressed):
    with mouse.Events() as events:
        for event in events:
            if event.button == mouse.Button.
                print(event)
    #if pressed: print(x,y)
    # print('{0} at {1}'.format(
    #     'Pressed' if pressed else 'Released',
    #     (x, y)))
    # if not pressed:
    #     # Stop listener
    #     return False

# # Collect events until released
# with mouse.Listener(
#         on_move=on_move,
#         on_click=on_click,
#         on_scroll=on_scroll) as listener:
#     listener.join()

#...or, in a non-blocking fashion:
listener = mouse.Listener(
    #on_move=on_move,
    on_click=on_click)
listener.start()

SyntaxError: invalid syntax (3002918202.py, line 10)

In [ ]:
#!python -m venv C:\Users\yozblg\ck_env
# !C:\Users\yozblg\ck_env\Scripts\activate.bat
# !pip install pynput

In [ ]:
with mouse.Listener(
        on_move=print('spam')) as listener:
    listener.join()

spam

In [12]:
mouse.Listener(on_move=print('spam'))

spam

In [19]:
listener = mouse.Listener(on_move=print(x,y))
listener.start()

526 174

In [20]:
mouse_moves = mouse.Controller()
while True:
    time.sleep(1)
    x,y = mouse_moves.position
    print(x,y)

809 487
809 487
809 487
893 650
760 674
760 674
766 500

KeyboardInterrupt:

In [56]:
from pynput import mouse
def on_move(x, y):
    print('Pointer moved to {0}'.format(
        (x, y)))

def on_click(x, y, button, pressed):
    print('{0} at {1}'.format(
        'Pressed' if pressed else 'Released',
        (x, y)))
    if not pressed:
        # Stop listener
        return False

def on_scroll(x, y, dx, dy):
    print('Scrolled {0} at {1}'.format(
        'down' if dy < 0 else 'up',
        (x, y)))

# Collect events until released
with mouse.Listener(
        on_move=on_move,
        on_click=on_click,
        on_scroll=on_scroll) as listener:
    listener.join()

Pressed at (799, 454)
Released at (799, 454)